@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "Museo Sans Cyrl 500";
    // адрес шрифта и тип
    src: url("../../fonts/ofont.ru_Museo\ Sans\ Cyrl\ 500.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "Museo Sans Cyrl 700";
    // адрес шрифта и тип
    src: url("../../fonts/ofont.ru_Museo\ Sans\ Cyrl\ 700.ttf") format("truetype");
    font-style: normal;
}


@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "Museo Sans Cyrl 900";
    // адрес шрифта и тип
    src: url("../../fonts/ofont.ru_Museo\ Sans\ Cyrl\ 900.ttf") format("truetype");
    font-style: normal;
}
