.header {
    position: relative;
    background: url(../../img/bgHeader/one.png)no-repeat left/247px,url(../../img/bgHeader/two.png) no-repeat right/352px;

    background-color: $color-head;
    background-size: auto auto;
    background-position: left top 37px, right top 80px;
    margin-top: 39px;
    border-radius: 40px;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__text {
        font-size: 60px;
        line-height: 120%;
        color: $color-head-text;
        @include black;
        padding-top: 40px;
    }
    &__title {
        font-size: 17px;
        line-height: 140%;
        color: $color-head-text;
        padding-top: 2px;
        max-width: 538px;
        text-align: center;


    }
    &__buttons {
        margin-top: 40px;
        padding-bottom: 54px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 48px;
            margin-right: 8px;
            background-color: $color-head-text;
            border-radius: 12px;
            text-align: center;
            margin-top: 4px;
            img {
                margin-right: 8px;
            }
        }

    }
}
.head {
    overflow: hidden;

}
